/* form {
  padding: 60px;
  background: #effaf3;
  max-width: 400px;
  border-right: 2px solid #7fffd4;
  border-left: 2px solid #7fffd4;
  border-bottom: 2px solid #7fffd4;
}

.form-section {
  padding: 20px;
  max-width: 400px;
  background-color: #7fffd4;
  width: 100%;
} */
